.poster-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: darkblue;
  background-color: white;
  margin-top: 0px;
}

.poster {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}

.trailer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 57%;
  text-align: center;
  color: white;
}

.video {
  position: relative;
  background-color: black;
  width: 100%;
  height: 30%;
}
